.startScreen{
    font-family: "retro";
    color: white; background-color: transparent;
    width: 100%; height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    pointer-events: all;
    transition: opacity 2s linear;
}
.startScreen.hide{
    pointer-events: none;
    opacity: 0; 
}

.pbTop,.pbBottom{
    width: 25vw; object-fit: contain;
    transition: 0.5s ease-in-out;

}

.pbTop{
    transform-origin: bottom center;
}
.pbBottom{
    transform-origin: top center;
}

.startTop, .startBottom{
    background-color: black;
    width: 100vw; height: 100%;
    transition: 3s ease-out;
    display: flex;
    justify-content: center;
}
.startTop{
    align-items: end;
}
.startBottom{
    align-items: start;
}
.startScreen.hide .startTop{
    transform: translateY(-150%);

}
.startScreen.hide .startBottom{
    transform: translateY(100%);

}

.startText{
    margin:auto;
    position: absolute;
    top: 20vh;
}
.clickAnywhere{
    animation: 1s infinite linear blinking;
}

@keyframes blinking{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
       opacity:0;
    }
}